/**
 *  en HTML5 se utiliza *::before y *::after, pero para ser seguros de cubrir
 *  el 100% de los navegadores utilizo también el *:before, *:after
 *  con esta tecnica es seguro al 100% que toda la pagina asume ese valor
 */

*, *::before, *::after, *:before, *:after{
    box-sizing: border-box;
}
body{
    color: #434545;
}
h1, h2{
    font-weight: bold;
    padding: 2px;
    margin: 2px;
}

nav>ul{
    list-style-type: none;
}
nav>ul>li{
    padding: 2px;
    margin: 2px;
    border: solid 1px lightseagreen;
    display: inline-block;
}
nav>ul>li:hover{
    background-color: lightseagreen;
}