/**
 *  en HTML5 se utiliza *::before y *::after, pero para ser seguros de cubrir
 *  el 100% de los navegadores utilizo también el *:before, *:after
 *  con esta tecnica es seguro al 100% que toda la pagina asume ese valor
 */

*, *::before, *::after, *:before, *:after{
    box-sizing: border-box;
}
body{
    color: #606060;
    font-size: 16px;
    font-family: 'Merriweather', serif;
}

h2, h3{
    padding: 5px 0;
    margin: 2px 0;
}
h1, h2, h3, .spanParrafo, nav>ul>li {
    color: #434545;
    font-weight: bold;
}
h1{
    font-size: 40px;
    margin: 20px 0;
}
h2, nav{
    font-size: 20px;
}
small {
    font-size: 12px;
}
header{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    /*width: 80%;
    margin: 2em auto;
    min-width: 500px;
    max-width: 960px;*/
}

footer{
    margin-top: 2%;
    padding: 20px 0;
    border-top: 1px solid;
    background-color: #434545;
    color: white;
    width: 100%;
    text-align: center;
}
article, aside{
    margin-bottom: 20px;
}
.container{
    text-align: justify;
}
.container, .footerLink{
    width: 80%;
    max-width: 960px;
    list-style-type: none;
    margin: 0 auto;
}
.articles{
    width: 65%;
}
article{
    width: 46%;
}
.asides{
    width: 32%;
}

.asides li{
    list-style-position: inside;
}
aside, article{
    overflow: auto;
}

aside{
    padding: 10px;
    background-color: #eee;
}
aside img{
    float: right;
    margin: 0 10px;
}
aside a:hover{
    color: black;
}

p {
    margin: 20px 0;
}

article img {
    width: 100%;
    margin-bottom: 20px;
}

.footerLink{
    display: flex;
    justify-content: space-around;
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 20px;
    text-align: left;
}
.footerLink h3, .footerLink a{
    color: white;
    list-style-position: inside;
    list-style-type: none;
}
.footerLink h3:hover, .footerLink a:hover{
    color: #999;
}

/* ******* menù ******* */

.principal{
    margin-bottom: 5px;
}
.principal ul, .wrap, .articles{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.principal>ul>li{
    margin: 2px;
    position: relative;
}
.principal li{
    transition-duration: 0.5s;
    padding: 2px 5px;
}
.principal li:hover, .mobile li:hover{
    background-color: #ddd;
    background-image: url("../img/stripe.png");
    background-repeat: repeat-xy;
}
.principal>ul>li:first-child{
    margin-left: 0;
}
.principal>ul>li:last-child{
    margin-right: 0;
}

.principal>ul>li ul>li{
    margin-bottom: 10px;
}

.principal ul>li ul{
    display: none;
    color: #434545;
    background-color: white;
    border: 1px solid;
}
.principal li:hover ul{
    display: block;
    position: absolute;
}

.block {
    display: block;
    background-color: #ddd;
}
/* ******* fin menù ******* */

/* ******* menù mobile ******* */
.btnMobile {
    display: none;
}

.oculto {
    display: none;
}

.mobile ul {
    list-style-type: none;
    width: 100%;
    border-bottom: 1px solid;
    text-align: center;
}

/* .mobile li:hover està con .principal li:hover */

.mobile li>ul.ulDesplegable{
    display: none;
}

/* ******* menù footer ******* */

.temporal{
    display: none;
}
.temporal ul{
    display: flex;
    flex-direction: column;
}
.temporal li:hover{
    background-color: white;
    color: #434545;
}

/* ******* fin menù footer ******* */

@media screen and (max-width: 480px){
    .wrap{
        flex-direction: column;
    }
    .articles, .asides {
        width: 100%;
    }
    article h4, article p{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .principal{
        display: none;
    }
    .temporal, .btnMobile {
        display: block;
    }
    .mobile, .temporal {
        margin-bottom: 20px;
    }
    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        align-items: center;
    }
    h1 {
        text-align: left;
    }
    .ulFooter {
        display: none;
    }
}

@media screen and (max-width: 768px){
    nav li{
        transition-duration: 0.5s;
        padding: 2px 0px;
        margin: 2px 0px;
    }
    .container, .footer {
        width: 100%;
        padding: 10px;
    }
    .articles {
        display: flex;
        flex-direction: column;
    }
    article {
        width: 100%;
    }
    aside img{
        width: 80%;
    }
}