/**
 *  en HTML5 se utiliza *::before y *::after, pero para ser seguros de cubrir
 *  el 100% de los navegadores utilizo también el *:before, *:after
 *  con esta tecnica es seguro al 100% que toda la pagina asume ese valor
 */

*, *::before, *::after, *:before, *:after{
    box-sizing: border-box;
}
body{
    color: #606060;
    font-size: 16px;
}

h2, h3{
    padding: 5px 0;
    margin: 2px 0;
}
h1, h2, h3, .spanParrafo, nav>ul>li {
    color: #434545;
    font-weight: bold;
}
h1{
    font-size: 40px;
    margin: 20px 0;
}
h2, nav{
    font-size: 20px;
}

header{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    /*width: 80%;
    margin: 2em auto;
    min-width: 500px;
    max-width: 960px;*/
}

footer{
    margin-top: 2%;
    padding: 20px 0;
    border-top: 1px solid;
    background-color: #434545;
    color: white;
    width: 100%;
    text-align: center;
}
article, aside{
    margin-bottom: 20px;
}
.container{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    max-width: 960px;
}
.articles{
    width: 65%;
}
.asides{
    width: 32%;
}

.asides li{
    list-style-position: inside;
}

article img {
    width: 100%;
    margin: 20px 0;
}
article h4, article p{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}
/* ******* menù ******* */

.principal{
    margin-bottom: 5px;
}
.principal ul, .wrap{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.principal>ul>li{
    margin: 2px;
    position: relative;
}
.principal li{
    transition-duration: 0.5s;
    padding: 2px 5px;
}
.principal li:hover, .mobile li:hover{
    background-color: #ddd;
    background-image: url("../img/stripe.png");
    background-repeat: repeat-xy;
}
.principal>ul>li:first-child{
    margin-left: 0;
}
.principal>ul>li:last-child{
    margin-right: 0;
}

.principal>ul>li ul>li{
    margin-bottom: 5px;
}

.principal ul>li ul{
    display: none;
    color: #434545;
    background-color: white;
    border: 1px solid;
}
.principal li:hover ul{
    display: block;
    position: absolute;
}

li:hover{
    pointer-events: 
}
/* ******* fin menù ******* */

/* ******* menù mobile ******* */
.btnMobile {
    display: none;
}

.oculto {
    display: none;
}

.mobile ul {
    list-style-type: none;
    width: 100%;
    border-bottom: 1px solid;
    text-align: center;
}

/* .mobile li:hover està con .principal li:hover */

.mobile li>ul {
    display: none;
}

/* ******* menù footer ******* */

.temporal{
    display: none;
}
.temporal ul{
    display: flex;
    flex-direction: column;
}
.temporal li:hover{
    background-color: white;
    color: #434545;
}

/* ******* fin menù footer ******* */

@media screen and (max-width: 600px){
    .container {
        width: 80%;
        margin: 0 auto;
    }
    .wrap{
        flex-direction: column;
    }
    .articles, .asides {
        width: 100%;
    }
    article h4, article p{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .principal{
        display: none;
    }
    .temporal, .btnMobile {
        display: block;
    }
    .mobile, .temporal {
        margin-bottom: 20px;
    }
    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        align-items: center;
    }
    h1 {
        text-align: left;
    }
}

@media screen and (max-width: 1023px){
    nav li{
        transition-duration: 0.5s;
        padding: 2px 0px;
        margin: 2px 0px;
    }
}